* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 194, 80);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px;
  background-color: white;
  border-radius: 10px;
  width: 800px;
  box-shadow: -4px -4px 12px rgb(199, 194, 194), 4px 4px 12px rgb(199, 194, 194);
  #dont {
    color: rgb(107, 107, 107);
    margin-bottom: 30px;
  }
  #joke {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
  }
  #another {
    border: none;
    background-color: rgb(89, 89, 218);
    color: white;
    padding: 15px 40px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  #another:hover {
    background-color: lighten(rgb(89, 89, 218), 5%);
  }
}
