* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
div {
  overflow: auto;
  overflow: hidden;
  height: 100%;
  border-radius: 50px;
  transition: 1s;
}
img {
  object-fit: cover;
  // border: 2px solid red;
  height: 100%;
}

#leftleft {
  width: 60%;
  background-image: url();
  position: relative;
  transition: 1s;
  cursor: pointer;
  h1 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    opacity: 1;
    color: white;
    transition: 1s;
  }
}
#leftcenter {
  width: 7%;
  background-image: url();
  position: relative;
  transition: 1s;
  cursor: pointer;
  h1 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    opacity: 0;
    transition: 1s;
    color: white;
    white-space: nowrap;
  }
}
#center {
  width: 7%;
  position: relative;
  background-image: url();
  transition: 1s;
  cursor: pointer;
  h1 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    opacity: 0;
    white-space: nowrap;
    color: white;
    transition: 1s;
  }
}
#rightcenter {
  width: 7%;
  position: relative;
  background-image: url();
  transition: 1s;
  cursor: pointer;
  h1 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    opacity: 0;
    white-space: nowrap;
    transition: 1s;
    color: white;
  }
}
#rightright {
  width: 7%;
  position: relative;
  background-image: url();
  transition: 1s;
  cursor: pointer;
  h1 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    opacity: 0;
    white-space: nowrap;
    color: white;
    transition: 1s;
  }
}
