* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #7359E7;
}
div{
    display: flex;
}
input{
    height: 50px;
    width: 0px;
    border: none;
    background-color: white;
    font-size: 20px;
    transition: 0.2s linear;
}
button{
    height: 50px;
    width: 50px;
    border: none;
    background-color: white;
    font-size: 24px;
    cursor: pointer;
}
